.ThemeSlider {
  display: flex;
  align-items: center;
  margin: 4px;

  .switch {
    --knob-size: 22px;
    --slider-bg__light: #4d4d4d;
    --slider-bg__dark: #ccc;

    position: relative;
    width: 52px;
    height: 30px;

    img {
      width: 18px;
      margin: 6px;
      z-index: 10;
      position: absolute;
      pointer-events: none;
      left: 0;
      top: 0;
      bottom: 0;

      &:nth-child(1) {
        left: var(--knob-size);
      }
    }

    input {
      opacity: 0;
      width: 0;
      height: 0;

      &:checked + .slider {
        background-color: var(--slider-bg__dark);

        &:before {
          -webkit-transform: translateX(var(--knob-size));
          -ms-transform: translateX(var(--knob-size));
          transform: translateX(var(--knob-size));
        }
      }
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: var(--slider-bg__light);
      -webkit-transition: 0.4s;
      transition: 0.4s;

      &:before {
        position: absolute;
        content: "";
        height: var(--knob-size);
        width: var(--knob-size);
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }
    }

    .slider.round {
      border-radius: 34px;

      &:before {
        border-radius: 50%;
        z-index: 20;
      }
    }
  }
}
