.App {
  font-size: 1.25rem;
  max-width: 800px;
  min-width: 330px;
  margin: auto;

  .ThemeSlider {
    position: absolute;
    right: 0;
  }

  .header {
    display: flex;
    justify-content: center;
    position: relative;

    .unit {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 32px;
      }

      strong {
        padding: 0.75rem;
        flex: 1;
      }

      strong:nth-child(1) {
        text-align: right;
      }
    }
  }

  .center {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contents {
    margin: 10px auto;
  }
}
