:root {
  --bg: rgb(255, 255, 255);
  --color: rgb(13, 13, 25);
}

[data-theme="dark"] {
  --bg: rgb(13, 13, 25);
  --color: rgb(242, 242, 242);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg);
  color: var(--color);
}
